:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */
  --dark-grey-color: #1f1f1f;
  background-image: linear-gradient(to right, white, #b3ebc3);
  --dark-green-color: #1e664b;
  --light-green-color: #539c81;
  --border-radius: 0.3rem;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}
body {
  min-width: 320px;
  min-height: 100vh;
  color: var(--dark-grey-color);
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: var(--light-green-color);
}

button:hover {
  background-color: var(--dark-green-color);
  color: white;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
