.chat {
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}
.chat p {
  color: var(--dark-grey-color);
  font-size: 1.6rem;
  overflow: scroll;
}

.ready {
  text-align: center;
}
.answer span {
  font-size: 1.8rem;
  color: rgb(87, 87, 87);
  font-weight: 200;
}

.pleaseLogin {
  text-align: center;
}

.QandAs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.qanda {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.468);
  padding-bottom: 0.9rem;
}

.question {
  align-self: flex-end;
  width: 50%;
  border-radius: 1rem 0rem 1rem 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 133, 67, 0.455);
  color: aliceblue;
}

.answer {
  width: 75%;
  padding: 0.5rem 1rem;
  border-radius: 0rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.361);
  font-size: 1rem;
}
