.AI {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.askImg {
  width: 20rem;
  align-self: center;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
  align-self: center;
  align-items: center;
  height: 40%;
  overflow: scroll;
  padding: 2rem 3rem;
}

.answer {
  height: 45%;
  margin-top: 2rem;
  background-color: rgba(133, 133, 133, 0.274);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.643);
  box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.42);
}
