.AI {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ask {
  width: 20rem;
  align-self: center;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
  align-self: center;
  align-items: center;
}
